body{

margin:0;
font-family:Arial;
background:#ffe6f2;
color:#333;

}


.app{

padding:20px;
text-align:center;

}


h1{

color:#d63384;

}



.card{

background:white;
padding:20px;
margin:15px;
border-radius:20px;
box-shadow:0 5px 15px #ddd;

}



button{

background:#d63384;
color:white;
border:none;

padding:12px 20px;

border-radius:15px;

font-size:16px;

}



.dark{

background:#111;
color:white;

}


.dark .card{

background:#222;
color:white;

}
